<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisement</title>
    <link rel="stylesheet" href="/css/addItem.css" type="text/css">
    <link type="Image/x-icon" href="./img/Favicon.ico" rel="icon">
</head>

<body>
<header>
    <div class="logo">
        <a href="/">
            <span>G</span>enesis
        </a>
    </div>
    <div class="header_background" id="querySelectorByClass"></div>
    <details>
        <summary></summary>
        <nav class="menu">
            <a href="/">Home</a>
            <% try{ %>
                <% if (logged){ %>
                    <a href="./profile">Profile</a>
                <% } else{ %>
                    <a href="./login">Sign In</a>
                <% } %>
            <% } catch{ %>
                <a href="./login">Sign In</a>
            <% } %>
            <% if (user !== undefined && user.accountType >= 1) { %>
                <a href="./moderator_page">Moderation</a>
            <% } %>
            <a href="./catalog">Catalog</a>
            <% if (logged){ %>
                <a>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit" class="exit_button">Exit</button>
                    </form>
                </a>
            <% } else{ %>
            <% } %>
        </nav>
    </details>
</header>
<% if (item === undefined) { %>
<form id="form" action="/addItem" method="POST" enctype="multipart/form-data">
<% } else { %>
<form id="form" action="/editItem?_id=<%= item._id %>" method="POST" enctype="multipart/form-data">
<% } %>
    <main>
        <div class="page_block">
            <div class="add_img_info">
                <label id="labelInput" for="imagesInput">
                    <div class="slider">
                        <div class="loadingPanel hidden"></div>

                        <a class="prev hidden" onclick="minusSlide()">&#10094;</a>
                        <a class="next hidden" onclick="plusSlide()">&#10095;</a>

                        <p class="addPictures">Add pictures</p>
                        <p class="addPictures" style="color:#de5555; font-size: 80px;">+</p>


                        <input onchange="previewImages(this)" id="imagesInput" name="images" multiple type="file"
                               class="hidden" accept=".png, .jpg, .jpeg, .bmp, .gif">


                    </div>
                </label>
                <div class="page_info">
                    <div class="name">
                        <textarea placeholder="Title" name="title" required
                                  style="max-width: 315px; min-width: 315px; max-height: 119px;"><%= item?.title %></textarea>
                    </div>
                    <div class="seller">
                        <img>
                        <p class="seller_name">
                            <input type="text" name="sellerName" required placeholder="Seller name"
                                   value="<%= item?.sellerName %>">
                        </p>
                    </div>
                    <div class="buttons">
                        <div class="normal_buttons">
                        </div>
                        <% if (user !== undefined && user.accountType >= 1) { %>
                            <div class="moderator_buttons">
                                <button type="submit">
                                    <p><%= item !== undefined ? 'Save' : 'Add' %></p>
                                </button>
                            </div>
                        <% } %>
                    </div>
                    <div class="stats">
                        <div class="main_info">
                            <p>Square</p>
                            <p>Floor</p>
                            <p>Floor count</p>
                            <p>Repair</p>
                            <p>Adress</p>
                            <p>Price</p>
                        </div>
                        <div class="main_info_stats">
                            <input name="square" required type="number" value="<%= item?.square ?? '0' %>">
                            <input name="floor" required type="number" value="<%= item?.floor ?? '1' %>">
                            <input name="floorCount" required type="number" value="<%= item?.floorCount ?? '1' %>">
                            <select name="repair" required selected="<%= item?.repair ?? 'Not required' %>">
                                <option value="Required">Required</option>
                                <option value="Not required">Not required</option>
                            </select>
                            <input name="adress" required type="text" value="<%= item?.adress ?? '' %>">
                            <input type="number" name="price" value="<%= item?.price ?? '0' %>" min="0">
                        </div>
                    </div>
                </div>
            </div>
            <div class="discription">
                <textarea name="description" required placeholder="Discription"
                          style="min-width: 900px;max-width: 900px; min-height: 200px;"><%= item?.description %></textarea>
            </div>
        </div>
    </main>
</form>
<script type="text/javascript" src="/js/showInputImages.js"></script>

<% if (item !== undefined && item.images.length > 0) { %>
    <script type="text/javascript">

        const imagesLength = <%= item.images.length %>;
        let dataTransfer = new DataTransfer();

        <% for (var key in item.images) { %>
        {
            const key = Number('<%= key %>')
            const mimetype = '<%= item.images[key].mimetype %>'
            const shortMimetype = mimetype.split('/')[1]
            const base64Data = '<%= item.images[key].buffer.toString('base64') %>'
            fetch(`data:${mimetype};base64,${base64Data}`)
                .then(async response => {
                    const blob = await response.blob()
                    const arrBuf = await blob.arrayBuffer()
                    let interval = setInterval(() => {
                        if (dataTransfer.items.length === key) {
                            dataTransfer.items.add( new File([arrBuf], `image-${key}.${shortMimetype}`,
                                {
                                    type: mimetype
                                })
                            )
                            clearInterval(interval)
                        }
                    }, 50)
                })
        }
        <% } %>

        let interval = setInterval(() => {
            if (imagesLength === dataTransfer.items.length) {
                document.getElementsByName('images')[0].files = dataTransfer.files;
                previewImages(document.getElementsByName('images')[0])
                clearInterval(interval);
            }
        }, 50)
    </script>
<% } %>

</body>

</html>