<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/moderation.css" type="text/css">
    <script src="/js/smoothScroll.js" type="text/javascript"></script>
    <link type="Image/x-icon" href="./img/Favicon.ico" rel="icon">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">
                <span>G</span>enesis
            </a>
        </div>
        <div class="buttons">
            <button class="add_objective"> Sort by</button>
            <a href="addItem"><button class="add_objective"> Add advertisement</button></a>
        </div>

        <div class="header_background" id="querySelectorByClass"></div>
        <details>
            <summary></summary>
            <nav class="menu">
                <a href="/">Home</a>
                <% try{%>
                    <% if (logged){%>
                        <a href="./profile">Profile</a>
                        <%} else{%>
                            <a href="./login">Sign In</a>
                            <%}%>
                                <%} catch{%>
                                    <a href="./login">Sign In</a>
                                    <%}%>
                                        <% if (user !==undefined && user.accountType>= 1) { %>
                                            <a href="./moderator_page">Moderation</a>
                                            <% } %>
                                                <a href="./catalog">Catalog</a>
                                                <% if (logged){%>
                                                    <a>
                                                <form action="/logout?_method=DELETE" method="POST">
                                                    <button type="submit" class="exit_button">Exit</button>
                                                </form>
                                            </a>
                                            <%} else{%>
                                                <%}%>
            </nav>
        </details>
    </header>
    <main>
        <div class="item_list">
            <% for (var key in items) {
                var item = items[key]; %>
            <a href="/item_page?_id=<%= item._id %>">
                    <div class="item">
                        <div class="info">
                            <p class="Titile" style="margin-top: 0;"><%= item.title %></p>
                            <p style="margin-top:12px;">17 Kathleen Drive, Syosset, NY 11791 </p>
                            <p>One-room apartmet </p>
                            <p>Build in: 2013 </p>
                            <p>Natural gas, hot water </p>
                            <p>Square Feet: <%= item.square %></p>
                            <p>Address: <%= item.address %></p>
                            <p>Price: <%= item.price %>$</p>
                        </div>
                    </div>

            </a>
            <% } %>
        </div>
    </main>
</body>

</html>